@page "/setup"

<MudPaper Class="pa-4 ma-4 flex-grow-1 flex-shrink-1"  Elevation="10">
 
    <EditForm Model="@setupModel" >

        <DataAnnotationsValidator/>
        <ValidationSummary/>
        
        <MudGrid>
            <MudItem xs="12" Class="ma-0" >
                <MudCard Elevation="4">
                    <MudCardContent>
                        <MudTextField Label="Url" HelperText="Kiosk Url" id="url" @bind-Value="setupModel.Url" For="@(() => setupModel.Url)" TextChanged="@HandleOnChange" Immediate="true" />

                    </MudCardContent>
                    <MudCardActions Class="pa-4">
                        <MudButton ButtonType="ButtonType.Button" Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto"  @onclick="@HandleReboot">Reboot</MudButton>
                        <MudButton ButtonType="ButtonType.Button" Variant="Variant.Filled" Color="Color.Primary" Class="ml-5 mr-1"  @onclick="@HandleShutdown">Shutdown</MudButton>

                    </MudCardActions>
                </MudCard>
            </MudItem>
        </MudGrid>

    </EditForm>

    <MudCard Elevation="4">
        <MudCardHeader Class="pb-0 mt-4">
            <CardHeaderContent >
                <MudText Typo="Typo.h6">Memory</MudText>
            </CardHeaderContent>
         
        </MudCardHeader>
        <MudCardContent Class ="pa-0">
            <MudSimpleTable Elevation="0" Class="pa-0">
                <thead>
                <tr>
                    <th style="width:30%">Total</th>
                    <th style ="width:30%">Used</th>
                    <th>Free</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        @setupModel.MemoryMetrics.TotalMemory.ToString("N0") MB
                    </td>
                    <td>
                        @setupModel.MemoryMetrics.UsedMemory.ToString("N0") MB
                    </td>
                    <td>
                        @setupModel.MemoryMetrics.FreeMemory.ToString("N0") MB
                    </td>
                </tr>
                </tbody>
            </MudSimpleTable>
        </MudCardContent>
    </MudCard>

    <MudCard Elevation="4">
        <MudCardHeader Class="pb-0 mt-4">
            <CardHeaderContent >
                <MudText Typo="Typo.h6">Disk Space</MudText>
            </CardHeaderContent>
         
        </MudCardHeader>
        <MudCardContent Class ="pa-0">
            <MudSimpleTable Elevation="0" Class="pa-0">
                <thead>
                <tr>
                    <th style ="width:30%">Total</th>
                    <th style ="width:30%">Used</th>
                    <th>Free</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        @setupModel.DiskMetrics.TotalDiskSpace.ToString("N1") GB
                    </td>
                    <td>
                        @((setupModel.DiskMetrics.TotalDiskSpace -setupModel.DiskMetrics.AvailableDiskSpace).ToString("N1")) GB
                    </td>
                    <td>
                        @setupModel.DiskMetrics.AvailableDiskSpace.ToString("1") GB
                    </td>
                </tr>
                </tbody>
            </MudSimpleTable>
        </MudCardContent>
    </MudCard>
    
    @if (setupModel.TemperatureMetrics.CpuTemperature > 0)
    {
        <MudCard Elevation="4">
            <MudCardHeader Class="mt-4">
                <CardHeaderContent >
                    <MudText Typo="Typo.h6">CPU Temperature : @setupModel.TemperatureMetrics.CpuTemperature.ToString("N1") &deg;C @setupModel.TemperatureMetrics.ThrottledState</MudText>
                </CardHeaderContent>

            </MudCardHeader>
        </MudCard>
    }

    <MudCard Elevation="4">
        <MudCardHeader Class="mt-4">
            <CardHeaderContent >
                <MudText Typo="Typo.h6">@setupModel.CpuMetrics.OsDescription</MudText>
                @if (!string.IsNullOrEmpty(setupModel.CpuMetrics.CpuModel))
                {
                    <br />
                    <MudText Typo="Typo.h6">@setupModel.CpuMetrics.CpuHardware</MudText>
                    <br />
                    <MudText Typo="Typo.h6">@setupModel.CpuMetrics.CpuModel</MudText>
                    <br />
                    <MudText Typo="Typo.h6">@setupModel.CpuMetrics.CpuModelName</MudText>
                }
            </CardHeaderContent>
         
        </MudCardHeader>
    </MudCard>

</MudPaper>
